<h1>This is List of Company Employees...</h1>

<div>
    <h2 *ngIf="displayName != ''">Employee Name is {{displayName}}</h2><br/>

    <div class="card"   
        *ngFor="let emp of empList"
        (mouseenter)="onMouseEnter(emp)" 
        (mouseleave)="onMouseLeave(emp)" 
        class="employee_container" 
        [style.backgroundColor]="emp.color" style="width: 18rem; display: inline-block !important">

        <employee-details (notifyParentEvent)="updateName($event)" [employee]="emp"></employee-details>
    </div>
</div>

<div>
    <employee-names></employee-names>
</div>

<div>
    <add-employees></add-employees>
</div>

<div>
    <b>Reactive Forms</b>
    <reactive-add-employees>
        <h1>Form Created By TechnoFunnel</h1>
        <h2>Hello World...</h2>
    </reactive-add-employees>

    <reactive-add-employees>
        <h1>Form Created By Xyz</h1>
    </reactive-add-employees>
</div>